.pe-direito{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: rgb(214, 59, 85);
  box-shadow: 0px 2px 2px #555454;
  font-weight: bold;
  color: aliceblue;
}

.titulo-um{
  width: 700px;
  height: 190px;
  position: relative;
  top: 250px;
  left: 100px;
  background-color: #67c4e9;
  display: inline-block;
  font-size: 25px;
  color: white;
  font-style: oblique;
}

.titulo-dois{
  width: 700px;
  height: 250px;
  position: relative;
  top: 250px;
  left: 100px;
  background-color: #67c4e9;
  display: inline-block;
  font-size: 17px;
  color: white;
  font-family:'Times New Roman', Times, serif;
  font-style: normal;
}


.divisao-um{
  width: 100%;
  height: 700px;
  background-color: #67c4e9;
}

.divisao-dois{
  width: 100%;
  height: 700px;
  background-color: aliceblue;
  display: inline-flex;
}

.modelo-caixa{
  width: 225px;
  height: 325px;
  border-radius: 20px;
  box-shadow: 2px 2px 8px #888;
  position: static;
  margin-top: 200px;
  margin-left: 210px;
  /* display: inline-flex; */
}

.icone{
  width: 220px;
  height: 110px;
}

.conteudo-caixa{
  width: 220px;
  height: 200px;
  /* margin-top: 20px; */
  align-items: center;
  word-wrap: break-word;
}

.tipo-letra{
  color: rgb(7, 7, 88);
  text-align: center;
  font-size: 15px;
  margin: 25px;
}

#imagem{
  width: 50px;
  height: 50px;
  background-size: cover;
  background-image: url('instagram.png');
  position: relative;
  top: 40px;
  left: 85px;
}

#imagem-dois{
  width: 50px;
  height: 50px;
  background-size: cover;
  background-image: url('rota.png');
  position: relative;
  top: 40px;
  left: 85px;
}

#imagem-tres{
  width: 50px;
  height: 50px;
  background-size: cover;
  background-image: url('hotel.png');
  position: relative;
  top: 40px;
  left: 85px;
}

.decoracao-link{
  text-decoration: none;
  color: rgb(7, 7, 88);
  font-weight: bold;
}

.decoracao-link:hover{
  color: rgb(214, 59, 85);
}

footer{
  position:relative;
  width: 100%;
  height: 200px;
  background-color: rgb(214, 59, 85);
  font-weight: bold;
  color: aliceblue;
}

.linha-vertical{
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  left: 770px;
  height: 20px;
  border-right: 1px solid aliceblue;
  display: inline-block;
}

#cadastre-se{
  margin-top: 19px;
  margin-bottom: 20px;
  position: relative;
  left: 670px;
  display: inline-block;
}

#login{
  margin-top: 19px;
  margin-bottom: 20px;
  position: relative;
  left: 695px;
  display: inline-block;
}

#facebook{
  position: relative;
  left: 700px;
}

#instagram-da-agente{
  margin-top: 19px;
  margin-bottom: 20px;
  position: relative; 
  left: 645px;
  display: inline-block;
}

#instagram-da-agencia{
  margin-top: 19px;
  margin-bottom: 20px;
  position: relative; 
  left: 800px;
  display: inline-block;
}

#contato{
  
  position: relative;
  left: 700px;
}

a{
  color: aliceblue;
  margin-top: 20px;
  margin-bottom: 20px;
}
