  .titulo{
    width: 60%;
    height: 25rem;
    position: relative;
    top: 30%;
    left: 7.5%;
    background-color: #67c4e9;
    display: inline-block;
    font-size: 180%;
    align-items:center;
    color: white;
  }
  h1{
    font-family: 'Times New Roman', Times, cursive;
    font-style: oblique;
    font-weight: 900;
    font-size: clamp(0.1em, 1em + 3vw, 2em);
  }
  
  h2{
    width: 90%;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-size: clamp(0em, 0.5em + 1vw, 1.1em);
  }

  h3{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: clamp(0em, 0.2em + 1vw, 0.8em);
  }

  .divisao-um{
    width: 100%;
    height: 40em;
    background-color: #67c4e9;
  }
  
  .divisao-dois{
    width: 100%;
    height:40em;
    background-color: aliceblue;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
  }
  
  .modelo-caixa{
    min-width: 5%;
    height: 20em;
    border-radius: 2em;
    box-shadow: 2px 2px 8px #888;
    margin-top: 0%;
    margin-left: 0%;
  }
  
  .icone{
    width: 220px;
    height: 110px;
  }
  
  .conteudo-caixa{
    width: 220px;
    height: 200px;
    /* margin-top: 20px; */
    align-items: center;
    word-wrap: break-word;
  }
  
  .tipo-letra{
    color: rgb(7, 7, 88);
    text-align: center;
    font-size: 15px;
    margin: 25px;
  }
  
  #imagem{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url('instagram.png');
    position: relative;
    top: 40px;
    left: 85px;
  }
  
  #imagem-dois{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url('rota.png');
    position: relative;
    top: 40px;
    left: 85px;
  }
  
  #imagem-tres{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url('hotel.png');
    position: relative;
    top: 40px;
    left: 85px;
  }
  
  .decoracao-link{
    text-decoration: none;
    color: rgb(7, 7, 88);
    font-weight: bold;
  }
  
  .decoracao-link:hover{
    color: rgb(214, 59, 85);
  }

  a{
    font-family: Arial;
    font-weight: bolder;
    font-size: 16px;
  }
  
  #formatacao-link-cadastro{
    font-family: 'Times New Roman', Times, serif;
    text-decoration:underline;
    font-size: clamp(0.1em, 1em + 1vw, 1em);
  }
  
  #formatacao-link-cadastro:hover{
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #155dca;
    transition: 0.5s linear;
  }

  #formatacao-link-login{
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(0em,0.5em + 1vw, 0.8em );
    font-weight: bold;
  }

  #formatacao-link-login:hover{
    text-decoration: underline;
  }